discord
bs4
python-docx
requests
requests_html
urllib3
wikipedia
chatterbot
attrs==19.1.0
blis==0.2.4
certifi==2019.6.16
chardet==3.0.4
chatterbot-corpus==1.2.0
cymem==2.0.2
idna==2.8
jsonschema==3.0.1
mathparse==0.1.2
murmurhash==1.0.2
nltk==3.4.5
numpy==1.16.4
Pint==0.9
pkg-resources==0.0.0
plac==0.9.6
preshed==2.0.1
pymongo==3.8.0
pyrsistent==0.15.3
python-dateutil==2.7.5
pytz==2019.1
PyYAML==3.13
requests==2.22.0
six==1.12.0
spacy==2.1.4
SQLAlchemy==1.2.19
srsly==0.0.7
thinc==7.0.8
tqdm==4.32.2
urllib3==1.25.3
wasabi==0.2.2
